*{
    margin: 0;

}   


.page-wrapper{

    width: 100%;
    background-color:gray;
}
.box-wrapper{

    width: 70%;
    margin: auto;
    padding: 10% 0%;
}
.main-box{
    width: 90%;
    margin: auto;
    background-color: white;
    border: 2px solid dodgerblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.box-one{
    width: 30%;
    background-color: gray;
    margin: 5%;
    border: 1px solid black;
    padding: 6% 0%;
    text-align: center;
    border-radius: 10px;

}
@media screen and (min-width: 700px) {

    .box-wrapper{

        width: 80%;
        margin: auto;
        padding: 10% 0%;
    }
    .main-box{
        width: 100%;
        margin: auto;
        background-color: white;
        border: 2px solid dodgerblue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 10px;
        justify-content: center;
    }
    .box-one{
        width: 20%;
        background-color: gray;
        margin: 5%;
        border: 1px solid black;
        padding: 6% 0%;
        text-align: center;
        border-radius: 10px;
    
  }
}